<section class="app section">
  <div class="container">
    <ul class="app__content">
      <li class="app__block app__picture">
        <div class="app__picture-block">
          <ul class="app__picture-list">
            <li class="app__picture-item">
              <img class="app__picture-image" src="../../images/app-01.png" alt="Приложение Ekodar">
            </li>
            <li class="app__picture-item">
              <img class="app__picture-image" src="../../images/app-02.png" alt="Приложение Ekodar">
            </li>
          </ul>
        </div>
      </li>
      <li class="app__block app__info">
        <h2 class="app__title title">Скачайте приложение</h2>
        <p class="app__description text">
          | Получайте оперативную сервисную и техническую поддержку, 
          | будьте в курсе акций и спецпредложений, управляйте автоматикой с телефона!
        </p>
        <div class="app__links">
          include ../../components/appsLinks/appsLinks
        </div>
      </li>
    </ul>
  </div>
</section>