.dropdown {
  position: relative;
  &.--active {
    & > .dropdown__trigger:after {
      transform: rotate(-180deg);
    }
    & > .dropdown__content {
      opacity: 1;
      pointer-events: unset;
      transform: unset;
    }
  }
  &.--right {
    & .dropdown__content {
      left: unset;
      right: 0;
    }
    & .dropdown__items {
      &:after {
        left: unset;
        right: 37px;
      }
    }
  }
  &.button--catalog {
    & .dropdown__trigger:after {
      display: none;
    }
    & .dropdown__content {
      padding-top: 18px;
    }
    & .dropdown__items {
      &:after {
        left: 55px;
      }
    }
  }
  &__trigger {
    display: flex !important;
    align-items: center;
    position: relative;
    z-index: 2;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-left: 3px solid var(--transparent);
      border-right: 3px solid var(--transparent);
      border-top: 4px solid var(--white);
      transition: var(--transition);
    }
  }
  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    padding-top: 35px;
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    transition: var(--transition);
    pointer-events: none;
    cursor: default;
    z-index: 1;
  }
  &__items {
    position: relative;
    min-width: 155px;
    padding: 35px 40px;
    color: var(--text-color-main);
    border-radius: 6px;
    border: 1px solid var(--border-gray);
    background-color: var(--white);
    box-shadow: var(--shadow-dropdown);
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 37px;
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      transform: translate3d(0, -50%, 0) rotate(45deg);
      background-color: var(--white);
    }
  }
  &__item {
    text-align: left;
    white-space: nowrap;
    & + & {
      margin-top: 15px;
    }
    &.dropdown {
      &.--active {
        & > .dropdown__trigger:after {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
    & .dropdown__trigger {
      &:after {
        position: absolute;
        top: 50%;
        right: 15px;
        margin-left: unset;
        border-top-color: var(--text-color-gray);
        transform: translateY(-50%) rotate(-90deg);
      }
    }
    & .dropdown__items {
      top: 0;
      left: 100%;
      border-left: 1px solid var(--border-gray);
    }
  }
  &__link {
    color: var(--text-color-blue-dark);
  }
}
