<section class="benefits section section--gray section--inner">
  <div class="container">
    <h3 class="section__title title title--section">Преимущества</h3>
    <ul class="benefits__list">
      <li class="benefits__item">
        <div class="benefits__icon">
          <img src="../../images/icons/benefits/economy.svg" alt="Копилка" class="benefits__image --economy">
        </div>
        <div class="benefits__info">
          <p class="benefits__info-text text text--small">
            | Выгодно - экономия<br>
            | 60% затрат на воду            
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <img src="../../images/icons/benefits/heart.svg" alt="Ритм сердца" class="benefits__image --heart">
        </div>
        <div class="benefits__info">
          <p class="benefits__info-text text text--small">
            | Полезно - сохраняется
            | натуральный баланс минералов
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <img src="../../images/icons/benefits/nobottles.svg" alt="Буз бутылей" class="benefits__image --nobottles">
        </div>
        <div class="benefits__info">
          <p class="benefits__info-text text text--small">
            | Комфортно - вода<br>
            | в наличии и без бутылок
          </p>
        </div>
      </li>
      <li class="benefits__item">
        <div class="benefits__icon">
          <img src="../../images/icons/benefits/tap.svg" alt="Клик" class="benefits__image --tap">
        </div>
        <div class="benefits__info">
          <p class="benefits__info-text text text--small">
            | Удобно - простое<br>
            | подключение и эксплуатация
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>