<div class="container">
  <div class="header__content">
    <div class="header__visual">
      <div class="header__visual-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#0" class="header__visual-slider-link">
              <img class="header__visual-image" src="../../images/headerSlider/1.jpg" alt="1">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#0" class="header__visual-slider-link">
              <img class="header__visual-image" src="../../images/headerSlider/2.jpg" alt="2">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#0" class="header__visual-slider-link">
              <img class="header__visual-image" src="../../images/headerSlider/3.jpg" alt="3">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="#0" class="header__visual-slider-link">
              <img class="header__visual-image" src="../../images/headerSlider/4.jpg" alt="4">
            </a>
          </div>
        </div>
      </div>
      <ul class="header__visual-tabs">
        <li class="header__visual-tab" data-tab>
          <a href="#0" class="header__visual-tab-link">
            <svg class="header__visual-tab-arrow" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" xml:space="preserve">
              <path fill="currentColor" d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </svg>
            | Все кулеры
          </a>
        </li>
        <li class="header__visual-tab" data-tab>
          <a href="#0" class="header__visual-tab-link">
            <svg class="header__visual-tab-arrow" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" xml:space="preserve">
              <path fill="currentColor" d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </svg>
            | Для гостиниц
          </a>
        </li>
        <li class="header__visual-tab" data-tab>
          <a href="#0" class="header__visual-tab-link">
            <svg class="header__visual-tab-arrow" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" xml:space="preserve">
              <path fill="currentColor" d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </svg>
            | Офис и клиентские зоны
          </a>
        </li>
        <li class="header__visual-tab" data-tab>
          <a href="#0" class="header__visual-tab-link">
            <svg class="header__visual-tab-arrow" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" xml:space="preserve">
              <path fill="currentColor" d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
            </svg>
            | Для госучереждений
          </a>
        </li>
      </ul>
    </div>
    <div class="header__form">
      <form action="#0" class="form">
        <div class="form__container">
          <div class="form__title title title--block">Получить прайс-лист на кулеры</div>
          <div class="form__block">
            <div class="form__block-name">Вода</div>
            <ul class="form__row">
              <li class="form__row-item">
                <label class="form__checkbox">
                  <input class="form__checkbox-input" type="checkbox" name="water">
                  <span class="form__checkbox-body">
                    <svg class="form__checkbox-icon" preserveAspectRatio="none" fill="none" viewBox="0 -46 417.81333 417" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"/>
                    </svg>
                  </span>
                  <span class="form__checkbox-name">холодная</span>
                </label>
              </li>
              <li class="form__row-item">
                <label class="form__checkbox">
                  <input class="form__checkbox-input" type="checkbox" name="water">
                  <span class="form__checkbox-body">
                    <svg class="form__checkbox-icon" preserveAspectRatio="none" fill="none" viewBox="0 -46 417.81333 417" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"/>
                    </svg>
                  </span>
                  <span class="form__checkbox-name">горячая</span>
                </label>
              </li>
            </ul>
            <ul class="form__row">
              <li class="form__row-item">
                <label class="form__checkbox">
                  <input class="form__checkbox-input" type="checkbox" name="water">
                  <span class="form__checkbox-body">
                    <svg class="form__checkbox-icon" preserveAspectRatio="none" fill="none" viewBox="0 -46 417.81333 417" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"/>
                    </svg>
                  </span>
                  <span class="form__checkbox-name">комнатная</span>
                </label>
              </li>
              <li class="form__row-item">
                <label class="form__checkbox">
                  <input class="form__checkbox-input" type="checkbox" name="water">
                  <span class="form__checkbox-body">
                    <svg class="form__checkbox-icon" preserveAspectRatio="none" fill="none" viewBox="0 -46 417.81333 417" xmlns="http://www.w3.org/2000/svg">
                      <path fill="currentColor" d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"/>
                    </svg>
                  </span>
                  <span class="form__checkbox-name">газировка</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="form__block">
            <label class="form__label">
              <input type="text" class="form__input" name="name">
              <span class="form__placeholder text text--mini">Имя</span>
            </label>
            <label class="form__label">
              <input type="text" class="form__input form__phone" name="phone">
              <span class="form__placeholder text text--mini">Телефон</span>
            </label>
            <label class="form__label">
              <input type="text" class="form__input form__phone" name="place">
              <span class="form__placeholder text text--mini">Объект</span>
            </label>
          </div>
          <div class="form__footer">
            <div class="form__policy">
              <label class="form__checkbox form__policy-checkbox">
                <input class="form__checkbox-input form__policy form__policy-input" checked type="checkbox" name="policy">
                <span class="form__checkbox-body">
                  <svg class="form__checkbox-icon" preserveAspectRatio="none" fill="none" viewBox="0 -46 417.81333 417" xmlns="http://www.w3.org/2000/svg">
                    <path fill="currentColor" d="m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0"/>
                  </svg>
                </span>
              </label>
              <a href="#0" class="form__policy-link text text--mini">
                | Я принимаю условия передачи информации
              </a>
            </div>
            <button type="submit" class="form__submit button button--yellow">Подобрать кулер</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>