<section class="section kulery-gas">
    <div class="container">
        <h1 class="kulery-gas__title title">
            | Title
        </h1>
        <p>
            | Проточный кулер с газировкой WiseWater 550 - новый стандарт комфорта для современного офиса! Стильный автомат питьевой воды премиум-класса с сенсорным управлением станет ярким элементом мотивации для ваших сотрудников, а также прогрессивной деталью офисного интерьера для ваших клиентов и партнеров! Проточный кулер с функцией газации - выбор респектабельных компаний, ценящих рациональный подход к организации питьевого режима и желающих оптимизировать административные расходы. 
        </p>

        <div class="kulery-gas__purif">
            <div class="kulery-gas__purif-container">
                <div class="kulery-gas__purif-start">
                    <h3>Основные характеристики</h3>
                    <ul>
                        <li>
                            <div>Газированная вода</div><div>3-8°С, бак 4 л</div>
                        </li>
                        <li>
                            <div>Горячая вода</div><div>87-95°С, бак 2 л</div>
                        </li>
                        <li>
                            <div>Мощность нагрева</div><div>800 Вт</div>
                        </li>
                        <li>
                            <div>Холодная вода</div><div>проточный контур 8°С</div>
                        </li>
                        <li>
                            <div>Габариты (ШхГхВ)</div><div>32х36х120 см</div>
                        </li>
                    </ul>
                </div>
                <div class="kulery-gas__purif-middle">
                    <img src="../../images/kuller-gas/WW550.png" alt="Фотография кулера WW 550">
                </div>
                <div class="kulery-gas__purif-end">
                    <div class="kulery-gas__benefits">
                        <div class="kulery-gas__benefits-item">
                            <img src="../../images/kuller-gas/icon-1.png" alt="Иконка преимущества">
                            <p>Двойная защита <br> от протечек</p>
                        </div>
                    </div>
                    <div class="kulery-gas__benefits">
                        <div class="kulery-gas__benefits-item">
                            <img src="../../images/kuller-gas/icon-2.png" alt="Иконка преимущества">
                            <p>Беспрерывная <br> подача воды</p>
                        </div>
                    </div>
                    <div class="kulery-gas__benefits">
                        <div class="kulery-gas__benefits-item">
                            <img src="../../images/kuller-gas/icon-3.png" alt="Иконка преимущества">
                            <p>Сенсорное <br> управление</p>
                        </div>
                    </div>
                    <div class="kulery-gas__benefits">
                        <div class="kulery-gas__benefits-item">
                            <img src="../../images/kuller-gas/icon-5.png" alt="Иконка преимущества">
                            <p>Встроенный <br> подстаканник</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kulery-gas__purif-btn">
                <a href="#" class="form__submit button button--yellow">Заказать кулер</a>
            </div>
        </div>
        <div class="text container">
            <p>Польза утоления жажды газированной водой получила научное подтверждение в связи с открытием следующих ценных свойств пищевой углекислоты для организма человека:</p>
            <ul>
                <li>тонизирующий и освежающий эффект</li>
                <li>усиление выработки желудочного сока у людей с пониженным уровнем кислотности желудка</li>
                <li>антибактериальное действие</li>
                <li>стимуляция нервных окончаний, отвечающих за процесс глотания</li>
                <li>снижение аппетита и продление чувства сытости</li>
                <li>выведение шлаков и токсинов</li>
                <li>регуляция выработки ферментов</li>
                <li>помощь в усвоении микроэлементов</li>
            </ul>

            <h2>Газированная вода для дома и офиса</h2>
            <p>Магазинная минеральная вода с газом не всегда обладает приятным вкусом и часто имеет противопоказания к употреблению. Другие газированные напитки в пластиковых бутылках не только содержат сахар, красители и консерванты, но еще и потенциально опасны из-за токсичного канцерогена Бисфенола-А, попадающего в жидкость из пластика при длительном хранении.</p>
            <p>Источником полезной и абсолютно безопасной газированной воды в вашем доме или офисе может стать проточный кулер WiseWater, обладающий ценными потребительскими характеристиками:</p>
            <ul>
                <li>высокотехнологичные фильтры</li>
                <li>выгодная аренда с фиксированными платежами</li>
                <li>бесплатное сервисное обслуживание</li>
                <li>востребованные функции нагрева, охлаждения и газации воды</li>
                <li>бесплатный тест в течение 14 дней</li>
            </ul>

            <p>Проточный кулер c газировкой - один из наиболее удобных вариантов обеспечения питьевой водой рабочего коллектива или членов семьи. Напольный или настольный аппарат с сенсорной панелью управления легко и аккуратно подключается напрямую к водопроводу буквально за 30 минут, не создавая беспорядка в квартире или офисе. Премиальное качество материалов и комплектующих в сочетании с элегантным дизайном делают автомат WiseWater незаменимым бытовым прибором для каждого современного дома, общественного учреждения или коммерческой организации.</p>
            <p>Проточный кулер с газировкой позволяет не только заботиться о здоровье офисных сотрудников или ваших близких, но и оптимизировать затраты на воду. При аренде аппарата вы получаете в полное распоряжение безлимитный источник, который ежедневно обеспечивает вас полезным продуктом для утоления жажды, и перестаете переплачивать за тару и доставку, как в случае использования кулера с бутылями.</p>
        </div>
    </div>

    <div class="arenda-benefits">
        <div class="arenda-benefits__container container">
            <h2 class="arenda-benefits__title">5 плюсов аренды проточного кулера</h2>
            <div class="arenda-benefits__items">
                <div class="arenda-benefits__item">
                    <svg width="40" height="35" viewBox="0 0 48 48" fill="#0472be"  xmlns="http://www.w3.org/2000/svg">
                        <path d="m38 14h-16.07a8 8 0 1 0 -13.53 6.72 8.58 8.58 0 0 0 1.6 1.2v12.08a4 4 0 0 0 4 4h24a4 4 0 0 0 4-4v-16a4 4 0 0 0 -4-4zm-30 1a6 6 0 0 1 11.91-1 5.47 5.47 0 0 1 .09 1 6 6 0 0 1 -.83 3 5.07 5.07 0 0 1 -.36.54l-.09.12a5.47 5.47 0 0 1 -.45.51 5.87 5.87 0 0 1 -.52.46l-.16.12a3.83 3.83 0 0 1 -.42.28l-.19.12a5.93 5.93 0 0 1 -.56.29h-.06c-.22.09-.44.16-.66.23h-.21l-.52.11h-.21a6.13 6.13 0 0 1 -.76.22 6.52 6.52 0 0 1 -1.1-.1 7.14 7.14 0 0 1 -1-.29 6.45 6.45 0 0 1 -1-.47 5.69 5.69 0 0 1 -.84-.62l-.26-.22a6 6 0 0 1 -1.8-4.3zm4.8 7.9h.27a7.26 7.26 0 0 0 .93.1 6.68 6.68 0 0 0 .78 0h.1.17l.45-.07.21-.05h.15l.36-.09.33-.11h.11l.26-.1a3 3 0 0 0 .41-.18h.09l.17-.08.41-.23.19-.11c.14-.09.28-.18.41-.28l.17-.13a4.12 4.12 0 0 0 .4-.33l.15-.13c.13-.12.26-.24.38-.37l.12-.13c.12-.13.23-.25.34-.39h14.84a1 1 0 0 1 1 1v1a4 4 0 0 0 0 8v1a1 1 0 0 1 -1 1h-23v-9.47h.15c.22.08.43.12.65.15zm21.2 3.1a2 2 0 0 1 2-2h4v4h-4a2 2 0 0 1 -2-2zm6 8a2 2 0 0 1 -2 2h-24a2 2 0 0 1 -2-2h23a3 3 0 0 0 3-3v-1h2zm-2-12v-1a3 3 0 0 0 -3-3h-13.59a3.39 3.39 0 0 0 .15-.41 1.15 1.15 0 0 0 .06-.17c0-.12.07-.25.11-.37l.09-.37.06-.34.06-.34h16.06a2 2 0 0 1 2 2v4z" />
                        <circle cx="36" cy="26" r="1" />
                        <path d="m12.58 13.57a2.06 2.06 0 0 1 2.83 0 1.13 1.13 0 0 0 .18.12l-.34.34c-.41.41-.29 1 .17 1h.1l1.55-.23a.88.88 0 0 0 .69-.69l.24-1.59a.42.42 0 0 0 -.43-.52.79.79 0 0 0 -.54.25l-.09.09a.71.71 0 0 0 -.12-.18 4 4 0 0 0 -5.66 0 1 1 0 0 0 0 1.41 1 1 0 0 0 1.42 0z" />
                        <path d="m10.43 18a.79.79 0 0 0 .54-.25l.09-.09c0 .05.06.11.1.15a4 4 0 0 0 5.66 0 1 1 0 1 0 -1.41-1.41 2.06 2.06 0 0 1 -2.83 0 .65.65 0 0 0 -.15-.1l.32-.33c.41-.41.29-1-.17-1h-.1l-1.55.23a.88.88 0 0 0 -.69.69l-.24 1.59a.42.42 0 0 0 .43.52z" />
                    </svg>       
                    <p>Выгоднее, чем кулер</p>         
                </div>
                <div class="arenda-benefits__item">
                    <svg height="35" viewBox="0 0 256 256" width="42" xmlns="http://www.w3.org/2000/svg">
                        <g fill="#0472be" stroke-miterlimit="10" stroke-width="0" transform="matrix(2.8008 0 0 2.8008 1.964 1.964)">
                            <path d="m45 83.657c-.768 0-1.536-.293-2.121-.879l-21.379-21.379c-1.172-1.171-1.172-3.071 0-4.242 1.171-1.172 3.071-1.172 4.242 0l19.258 19.258 19.258-19.258c1.172-1.172 3.07-1.172 4.242 0 1.172 1.171 1.172 3.071 0 4.242l-21.379 21.379c-.586.586-1.353.879-2.121.879z" />
                            <path d="m41.362 63.654c-.042 0-.085-.001-.128-.003-1.181-.05-2.223-.789-2.66-1.888l-8.547-21.484-4.866 10.387c-.494 1.055-1.553 1.728-2.717 1.728h-19.444c-1.657 0-3-1.343-3-3s1.343-3 3-3h17.536l6.998-14.938c.507-1.083 1.595-1.78 2.806-1.726 1.196.036 2.256.778 2.698 1.89l8.635 21.703 7.665-15.33c.51-1.02 1.591-1.677 2.692-1.658 1.14.003 2.179.652 2.683 1.674l4.129 8.385h28.158c1.657 0 3 1.343 3 3s-1.343 3-3 3h-30.024c-1.143 0-2.187-.649-2.691-1.675l-2.283-4.636-7.957 15.913c-.51 1.02-1.551 1.658-2.683 1.658z" />
                            <path d="m4.764 41.399c-1.154 0-2.254-.67-2.749-1.795-3.962-9.024-2.025-19.352 4.935-26.312 9.25-9.251 24.304-9.251 33.556 0l4.494 4.495 4.494-4.494c9.251-9.251 24.303-9.253 33.556 0 6.96 6.959 8.897 17.287 4.935 26.311-.666 1.516-2.435 2.207-3.953 1.541s-2.207-2.436-1.541-3.953c2.961-6.743 1.516-14.458-3.683-19.656-6.911-6.911-18.158-6.913-25.071 0l-6.615 6.615c-1.172 1.172-3.071 1.172-4.242 0l-6.615-6.615c-6.912-6.911-18.159-6.911-25.071 0-5.198 5.198-6.644 12.914-3.683 19.657.666 1.517-.024 3.287-1.541 3.953-.394.171-.803.253-1.206.253z" />
                        </g>
                    </svg>
                    <p>Полезнее, чем в бутылках</p>         
                </div>
                <div class="arenda-benefits__item">
                    <svg height="20" viewBox="0 0 256 256" width="40" fill="#0472be" xmlns="http://www.w3.org/2000/svg">
                        <path d="m69.422 24.421c-12.856 0-18.982 6.89-24.422 15.059-5.44-8.169-11.566-15.059-24.421-15.059-11.348 0-20.579 9.232-20.579 20.579s9.231 20.578 20.579 20.578c12.855 0 18.982-6.89 24.421-15.058 5.44 8.168 11.567 15.058 24.422 15.058 11.347 0 20.578-9.231 20.578-20.578s-9.231-20.579-20.578-20.579zm-48.843 35.157c-8.039 0-14.579-6.54-14.579-14.578 0-8.039 6.54-14.579 14.579-14.579 10.45 0 14.832 5.248 20.857 14.579-6.025 9.33-10.408 14.578-20.857 14.578zm48.843 0c-10.449 0-14.832-5.249-20.857-14.578 6.026-9.33 10.408-14.579 20.857-14.579 8.038 0 14.578 6.54 14.578 14.579 0 8.038-6.54 14.578-14.578 14.578z" transform="matrix(2.8008 0 0 2.8008 1.964 1.964)" />
                    </svg>
                    <p>Водный безлимит</p>         
                </div>
                <div class="arenda-benefits__item">
                    <svg   width="25" height="45"viewBox="0 0 693.72 1215.44" fill="#0472be" xmlns="http://www.w3.org/2000/svg">
                        <path d="m960.29 893.52h-42.29a83 83 0 0 0 -82.87 82.87v1132.61h693.72v-1132.61a83 83 0 0 0 -82.85-82.87h-42.3m69.92 1160.19h-583.23v-55.24h583.22zm0-303.86v193.37h-583.23v-193.37zm-583.23-55.25v-718.21a27.65 27.65 0 0 1 27.61-27.63h528a27.65 27.65 0 0 1 27.62 27.63v718.21zm389.35-801.08h-195.48m-83.38 165.61h-55.25v525h472.74v-525h-55.25m0 469.73h-93.25v-193.36h-177.74v193.36h-91.25v-414.48h55.25v42.62h55.25v-42.62h141.24v42.62h55.25v-42.62h55.25zm-215.74 0v-138.12h67.24v138.12zm-36-469.73h-55.25m251.74 0h-55.25" transform="translate(-835.14 -893.52)" />
                    </svg>
                    <p>Никаких бутылей</p>         
                </div>
                <div class="arenda-benefits__item">
                    <svg width="42" height="35" fill="#0472be" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                        <path d="M41.21,22l-1.12-2a3.82,3.82,0,0,0-3.34-2H31.41A7.9,7.9,0,0,0,32,15a8,8,0,0,0-15.93-1H8a4,4,0,0,0-4,4V33a4,4,0,0,0,4,4H8.1a5,5,0,0,0,9.8,0H30.1a5,5,0,0,0,9.8,0h.28A3.82,3.82,0,0,0,44,33.18V28a3.73,3.73,0,0,0-.48-1.85ZM40,24l1.1,2,.56,1H35a1,1,0,0,1-1-1V25a1,1,0,0,1,1-1ZM20.27,10.3A5.94,5.94,0,0,1,24,9a6,6,0,0,1,6,6,5.87,5.87,0,0,1-.83,3,5.6,5.6,0,0,1-.51.76h0a5.2,5.2,0,0,1-.65.68h0a5.92,5.92,0,0,1-.91.67l-.21.11a5.85,5.85,0,0,1-.84.39,6.13,6.13,0,0,1-.89.26h-.09A6.14,6.14,0,0,1,24,21q-.3,0-.6,0h-.1l-.49-.08h0a6,6,0,0,1-3-1.58l-.2-.22a2.09,2.09,0,0,1-.2-.22,1.09,1.09,0,0,1-.13-.17,3.4,3.4,0,0,1-.23-.3,2.26,2.26,0,0,1-.16-.26c-.05-.08-.1-.16-.14-.24a2.7,2.7,0,0,1-.17-.34l-.09-.19c-.05-.12-.1-.25-.14-.38s-.05-.12-.07-.17-.07-.27-.1-.41,0-.12-.05-.18,0-.28-.06-.43l0-.17a5.74,5.74,0,0,1,0-1.48A6,6,0,0,1,20.27,10.3ZM13,39a3,3,0,0,1-2.94-2.45A2.51,2.51,0,0,1,10,36a3,3,0,0,1,6,0,2.51,2.51,0,0,1-.06.55A3,3,0,0,1,13,39Zm4.9-4h0l0-.09a5.16,5.16,0,0,0-.24-.79l-.16-.32a3.67,3.67,0,0,0-.26-.48L17,33a3.79,3.79,0,0,0-.32-.38,2.65,2.65,0,0,0-.29-.29L16,32a4,4,0,0,0-.34-.23l-.46-.25-.35-.16a4.75,4.75,0,0,0-.57-.18L14,31.1a4.56,4.56,0,0,0-1.9,0l-.31.08a4.75,4.75,0,0,0-.57.18l-.35.16-.46.25A4,4,0,0,0,10,32l-.38.32a2.65,2.65,0,0,0-.29.29A3.79,3.79,0,0,0,9,33l-.24.33a3.67,3.67,0,0,0-.26.48c0,.11-.11.21-.16.32a5.16,5.16,0,0,0-.24.79l0,.09H8a2,2,0,0,1-2-2V18a2,2,0,0,1,2-2h8.09l0,.14a7.26,7.26,0,0,0,.22,1,1.94,1.94,0,0,0,.05.2,10,10,0,0,0,.4,1l.14.27a8.24,8.24,0,0,0,.57.95l.14.18a7.67,7.67,0,0,0,.79.92,7,7,0,0,0,.58.51l.36.27c.08.05.16.12.25.17s.38.24.57.35l.08,0a6.27,6.27,0,0,0,.64.3l.05,0c.21.09.43.16.65.23l.08,0,.62.16.14,0q.3.06.6.09l.18,0a7.14,7.14,0,0,0,.8,0,7.3,7.3,0,0,0,.94-.06l.24,0c.24,0,.47-.08.7-.13l.12,0V27H11a1,1,0,0,0,0,2H26v6ZM35,39a3,3,0,0,1-2.94-2.45A2.51,2.51,0,0,1,32,36a3,3,0,0,1,6,0,2.51,2.51,0,0,1-.06.55A3,3,0,0,1,35,39Zm7-5.82A1.83,1.83,0,0,1,40.18,35H39.9l0-.09a5.16,5.16,0,0,0-.24-.79l-.16-.32a3.67,3.67,0,0,0-.26-.48L39,33a3.79,3.79,0,0,0-.32-.38,2.65,2.65,0,0,0-.29-.29L38,32a4,4,0,0,0-.34-.23l-.46-.25-.35-.16a4.75,4.75,0,0,0-.57-.18L36,31.1a4.56,4.56,0,0,0-1.9,0l-.31.08a4.75,4.75,0,0,0-.57.18l-.35.16-.46.25A4,4,0,0,0,32,32l-.38.32a2.65,2.65,0,0,0-.29.29A3.79,3.79,0,0,0,31,33l-.24.33a3.67,3.67,0,0,0-.26.48l-.16.32a5.16,5.16,0,0,0-.24.79l0,.09H28V21.92h0A8,8,0,0,0,30.24,20h6.51a1.82,1.82,0,0,1,1.59.94L38.93,22H35a3,3,0,0,0-3,3v1a3,3,0,0,0,3,3h7Z" />
                        <path d="M22.69,17.78a1,1,0,0,0,1.38,0l3.13-3a1,1,0,0,0,0-1.41,1,1,0,0,0-1.42,0l-2.43,2.33L22.2,14.54A1,1,0,1,0,20.81,16Z" />
                    </svg>
                    <p>Монтаж за 30 минут</p>         
                </div>
            </div>
        </div>      
    </div>

    <div>
        <div class="container">
            <p>Блок с куллерами</p>
        </div>
    </div>

    <div class="text container">
        <h2>Как выбрать и заказать проточный кулер с газировкой</h2>
        <p>Польза утоления жажды газированной водой получила научное подтверждение в связи с открытием следующих ценных свойств пищевой углекислоты для организма человека:</p>
        <ul>
            <li>тонизирующий и освежающий эффект</li>
            <li>усиление выработки желудочного сока у людей с пониженным уровнем кислотности желудка</li>
            <li>антибактериальное действие</li>
        </ul>
    
        <h2>Покупка и аренда</h2>
        <p>Проточные кулеры продаются или сдаются в аренду как юридическим, так и частным лицам с безналичной или наличной оплатой услуг. Условия покупки обсуждаются в процессе заключения договора.</p>
        <p>Аренда аппаратов доступна на срок от 1 года с ежемесячными платежами в фиксированном размере. В первый платеж входит оплата первого и последнего месяца аренды.</p>
        <p>Арендная плата покрывает следующие услуги:</p>
    
        <ul>
            <li>временное пользование оборудованием</li>
            <li>доставка и подключение</li>
            <li>сервисное обслуживание с периодической заменой фильтров и ультрафиолетовой лампы</li>
        </ul>
    
        <h2>Доставка</h2>
        <p>Условия доставки по Москве и Московской области представлены в таблице ниже.</p>
        <table class="table-with-rows">
            <tbody>
                <tr>
                    <th>&nbsp;</th>
                    <th>Аренда</th>
                    <th>Покупка</th>
                </tr>
                <tr>
                    <td>Доставка</td>
                    <td>Бесплатно</td>
                    <td>В пределах МКАД - 1050 руб.<br> За&nbsp;пределы&nbsp;МКАД и по&nbsp;Московской области - 1050+25&nbsp;руб./км.</td>
                </tr>
                <tr>
                    <td>Доставка+монтаж</td>
                    <td>Бесплатно</td>
                    <td>5200&nbsp;руб.</td>
                </tr>
                <tr>
                    <td>Сроки доставки</td>
                    <td>2-3 дня</td>
                    <td>1-2&nbsp;дня</td>
                </tr>
            </tbody>
        </table>
        <p>Вы можете забрать проточный кулер самостоятельно со склада по адресу: г. Москва, улица Подольских Курсантов, дом 3, строение 7, с понедельника по пятницу с 11.00 до 17:45. <br> Сроки и стоимость доставки в другие города РФ узнавайте по телефону: <a class="link link--blue" href="tel+74951202514">+7 (495) 120-25-14.</a></p>

        <h2>Монтаж</h2>
        <p>Проточный кулер подключается к водопроводу примерно за 30 минут. Высококвалифицированные специалисты, прошедшие аттестацию, приедут для проведения монтажа в удобное для вас время. Установка аппарата не нарушит эстетики офисного или домашнего пространства. Гибкий и тонкий шланг, с помощью которого автомат подключается к водопроводу, легко маскируется под плинтусом, в специальном коробе или за подвесным потолком.</p>
        <p>Контроль качества сервисных услуг осуществляется собственным техническим отделом компании. В целях обеспечения максимальной надежности все проводимые работы застрахованы.</p>
    </div>

</section>

