<section class="section reviews">
    <div class="container">
      <h2 class="reviews__title">Отзывы наших клиентов</h2>
      <div class="reviews__slider">
        <div class="reviews__slider-block swiper">
          <div class="swiper-wrapper">
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/rolf.png" alt="Логотип компании">
                <h3>РОЛЬФ</h3>
                <p>ООО "РОЛЬФ" благодарит Вас и Ваших сотрудников за своевременный сервис и качественно выполненные работы по обслуживанию аппаратов очистки питьевой воды! Будем рады дальнейшему сотрудничеству с Вашим предприятием!
                </p>
            </div>
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/rosbank.png" alt="Логотип компании">
                <h3>ПАО РОСБАНК</h3>
                <p>ПАО РОСБАНК благодарит Вас за качественную работу и своевременный сервис по обслуживанию аппаратов очистки воды сотрудника Тинина Михаила, обслуживающего наше здание, расположенное по адресу: г. Москва, ул. Смольная, 22, стр. 1.</p>
            </div>
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/tupperware.png" alt="Логотип компании">
                <h3>Tupperware</h3>
                <p>ООО «Тапервэр» искренне благодарит Вас и коллектив ООО «ЭКОДАР ИПМ» за качественную работу и своевременный сервис по обслуживанию аппаратов очистки воды, установленных в нашей компании.</p>
            </div>
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/rolf.png" alt="Логотип компании">
                <h3>РОЛЬФ</h3>
                <p>ООО "РОЛЬФ" благодарит Вас и Ваших сотрудников за своевременный сервис и качественно выполненные работы по обслуживанию аппаратов очистки питьевой воды! Будем рады дальнейшему сотрудничеству с Вашим предприятием!
                </p>
            </div>
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/rosbank.png" alt="Логотип компании">
                <h3>ПАО РОСБАНК</h3>
                <p>ПАО РОСБАНК благодарит Вас за качественную работу и своевременный сервис по обслуживанию аппаратов очистки воды сотрудника Тинина Михаила, обслуживающего наше здание, расположенное по адресу: г. Москва, ул. Смольная, 22, стр. 1.</p>
            </div>
            <div class="reviews__slider-slide swiper-slide">
                <img src="../../images/reviews/tupperware.png" alt="Логотип компании">
                <h3>Tupperware</h3>
                <p>ООО «Тапервэр» искренне благодарит Вас и коллектив ООО «ЭКОДАР ИПМ» за качественную работу и своевременный сервис по обслуживанию аппаратов очистки воды, установленных в нашей компании.</p>
            </div>
          </div>
          
          <div class="reviews__slider-button-prev swiper-button-prev">
            <div class="swiper-button-arrow">
                <svg style="fill: #000;" class="swiper-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 289 492" style="enable-background:new 0 0 289 492;" xml:space="preserve">
                    <path d="M281.2,226.8L62.3,7.9C57.2,2.8,50.4,0,43.2,0s-14,2.8-19,7.9L8.1,24C-2.4,34.5-2.4,51.6,8.1,62l183.9,183.9L7.9,430 C2.8,435,0,441.8,0,449c0,7.2,2.8,14,7.9,19L24,484.1c5.1,5.1,11.8,7.9,19,7.9s14-2.8,19-7.9L281.2,265c5.1-5.1,7.9-11.9,7.8-19.1 C289.1,238.7,286.3,231.9,281.2,226.8z"></path>
                </svg>
            </div>
        </div>
        <div class="reviews__slider-button-next swiper-button-next">
            <div class="swiper-button-arrow">
                <svg style="fill: #000;" class="swiper-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 289 492" style="enable-background:new 0 0 289 492;" xml:space="preserve">
                    <path d="M281.2,226.8L62.3,7.9C57.2,2.8,50.4,0,43.2,0s-14,2.8-19,7.9L8.1,24C-2.4,34.5-2.4,51.6,8.1,62l183.9,183.9L7.9,430 C2.8,435,0,441.8,0,449c0,7.2,2.8,14,7.9,19L24,484.1c5.1,5.1,11.8,7.9,19,7.9s14-2.8,19-7.9L281.2,265c5.1-5.1,7.9-11.9,7.8-19.1 C289.1,238.7,286.3,231.9,281.2,226.8z"></path>
                </svg>
            </div>
        </div>

        </div>
      </div>
    </div>
</section>