<section class="contacts">
    <div class="container">
        include ../../components/breadcrumbs/breadcrumbs

        <h1 class="title">Контакты</h1>
        <p>
            | Вы можете сделать предварительный подбор оборудования для очистки воды самостоятельно при помощи
            | инструментов
            | на нашем сайте или воспользоваться услугами наших специалистов.
        </p>
    </div>
    <div class="map">
        <div id="yamap"></div>
        <img src="../../images/pages/contacts/map-bg.png" alt="Yandex Map Background">
        <div class="container">
            <address class="contacts-address__content">
                <div class="contacts-address__left">
                    <div data-coord="[55.63361068585124,37.4388855315842]" class="open-map contacts-address__name">
                        <span class="contacts-dashed --map-point">Москва</span>
                    </div>
                    <p>108811, Киевское шоссе, Бизнес-парк <br> «Румянцево», стр. 1А, 1 подъезд, 4 этаж</p>
                    <a class="contacts-adress__link" href="tel:+74951202514">
                        <span class="link link--blue">+7 (495) 120-25-14</span></a>
                    <a class="contacts-adress__link" href="mailto:mail@wwkulery.ru">
                        <span class="link link--blue">mail@wwkulery.ru</span></a>
                </div>

                <div class="contacts-address__right">
                    <div data-coord="[59.852588821295065,30.309774160049347]" class="open-map contacts-address__name">
                        <span class="contacts-dashed --map-point">Санкт-Петербург</span>
                    </div>
                    <p>Ленинский пр-т, 168. <br> БЦ "Энергия", офис 613</p>
                    <a class="contacts-adress__link" href="tel:+78123175548">
                        <span class="link link--blue">+7 (812) 317 55 48</span></a>
                    <a class="contacts-adress__link" href="mailto:mail@wwkulery.ru">
                        <span class="link link--blue">mail@wwkulery.ru</span></a>
                </div>
            </address>
        </div>

    </div>
</section>