<section class="section consult section--small section--gradient-blue section--inner">
  <div class="container">
    <form action="#0" class="form --consult --center">
      <div class="form__container">
        <div class="form__title title title--section">
          | Хочу консультацию специалиста
        </div>
        <div class="form__block form__row">
          <label class="form__label">
            <input type="text" class="form__input" name="name">
            <span class="form__placeholder text text--small">Имя</span>
          </label>
          <label class="form__label">
            <input type="text" class="form__input form__phone" name="phone">
            <span class="form__placeholder text text--small">Телефон</span>
          </label>
          <label class="form__label">
            <input type="text" class="form__input form__email" name="email">
            <span class="form__placeholder text text--small">E-mail</span>
          </label>
          <button type="submit" class="form__submit button button--yellow">
            | Получить консультацию
          </button>
        </div>
        <div class="form__block">
          <a href="#0" target="_blank" class="link text text--mini">
            | Нажимая на кнопку, вы даете согласие на обработку и защиту данных
          </a>
        </div>
      </div>
    </form>
  </div>
</section>