<section class="section productSlider">
  <div class="container">
    <h2 class="productSlider__title title title--section">Популярные кулеры для воды</h2>
    <div class="productSlider__slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="productCard">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>