<div class="appsLinks">
  <a href="#0" class="appsLinks__link">
    <img src="../../images/icons/appstore.svg" alt="appstore">
  </a>
  <a href="#0" class="appsLinks__link">
    <img src="../../images/icons/googleplay.svg" alt="appstore">
  </a>
  <a href="#0" class="appsLinks__link">
    <img src="../../images/icons/appgallery.svg" alt="appstore">
  </a>
</div>