<section class="city-puri section">
  <div class="container">
    <div class="city-puri__map">
      <div class="city-puri__map-info">
        <h3 class="city-puri__map-title title title--section">Кулеры WiseWater в вашем городе</h3>
        <div class="city-puri__map-search">
          <div class="city-puri__map-search-name title title--block">Оборудование WiseWater доступно во всех регионах России</div>
          <div class="city-puri__map-select">
            <div class="city-puri__map-select-name">
              <span class="city-puri__map-select-value text bold">Москва и Московская область</span>
              <img src="../../images/icons/arrow.svg" alt="Стрелка" class="city-puri__map-select-arrow">
            </div>
            <ul class="city-puri__map-select-list">
              <li class="city-puri__map-select-item">Город</li>
              <li class="city-puri__map-select-item">Город</li>
              <li class="city-puri__map-select-item">Город</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="city-puri__map-picture">
        <img src="../../images/map.svg" alt="Карта России" class="city-puri__map-image">
        <ul class="city-puri__map-cities">
          <li class="city-puri__map-city --sevastopol">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Севастополь</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --spb">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Санкт-Петербург</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --msk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Москва</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --rostov">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Ростов-на-Дону</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --krasnodar">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Краснодар</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --novgorod">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Нижний Новгород</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --kazan">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Казань</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --ufa">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Уфа</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --ekb">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Екатеринбург</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --chelyabinsk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Челябинск</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --omsk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Омск</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --novosib">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Новосибирск</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --krasnoyarsk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Красноярск</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --khabarovsk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Хабаровск</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --vladivostok">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Владивасток</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
          <li class="city-puri__map-city --petropavlovsk">
            <div class="city-puri__map-city-name text text--mini bold">
              <span>Петропавловск-Камчатский</span>
              <span></span>
            </div>
            <div class="city-puri__map-city-icon"></div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="city-puri__info">
      <li class="city-puri__info-block">
        <h3 class="city-puri__title title title--section">Кулеры для воды</h3>
        <p class="city-puri__text text">
          | WiseWater&nbsp;&mdash; уникальная торговая марка бытового 
          | и&nbsp;коммерческого оборудования водоочистки, сочетающего 
          | высокое качество и&nbsp;доступную стоимость. Благодаря стараниям 
          | наших инженеров с&nbsp;обширными знаниями особенностей воды 
          | в&nbsp;различных регионах России в&nbsp;2016 году было запущено 
          | производство первой линейки автоматов питьевой воды WiseWater, 
          | которая сегодня уверенно набирает популярность и&nbsp;завоевывает 
          | признание пользователей по&nbsp;всей стране.
        </p>
        <p class="city-puri__text text">
          | Разработка бренда WiseWater была направлена на&nbsp;достижение следующих целей:
        </p>
        <ul class="city-puri__text text">
          <li>
            | создание качественных и&nbsp;доступных автоматов для 
            | очистки водопроводной воды с&nbsp;учётом состава 
            | её&nbsp;загрязнений в&nbsp;различных областях России
          </li>
          <li>
            | максимальная эффективность фильтрации водопроводной воды 
            | для получения чистого и&nbsp;безопасного продукта, соответствующего 
            | критериям бутилированной воды высшей категории
          </li>
          <li>
            | оптимизация потребительских затрат на&nbsp;питьевую воду 
            | и&nbsp;экономия средств дома, в&nbsp;офисе, на&nbsp;производственных 
            | предприятиях и&nbsp;в&nbsp;общественных учреждениях с&nbsp;помощью удобных
            | и&nbsp;надежных систем индивидуальной водоподготовки
          </li>
        </ul>
        <p class="city-puri__text text">
          | Автоматы питьевой воды WiseWater&nbsp;&mdash; лучший 
          | выбор современных людей, которые заботятся
          | о&nbsp;своем здоровье и&nbsp;финансовом благополучии!
        </p>
      </li>
      <li class="city-puri__info-block">
        <div class="city-puri__picture">
          <img src="../../images/city-puri-image.jpg" alt="WW 103" class="city-puri__image">
        </div>
      </li>
    </ul>
  </div>
</section>