.dot-list {
    & li {
        padding-left: 20px;
        position: relative;
        &::before {
            position: absolute;
            top: 8px;
            left: 0px;
            z-index: 10;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $bg_aqua;
        }
    }
}
