<section class="stocks">
    <div class="container">
        include ../../components/breadcrumbs/breadcrumbs

        <h1 class="title">Акции</h1>
        <div class="stocks__banner">
            <div class="stocks__banner-text">
                <div class="stocks__banner-left">
                    <h3>Любой кулер WiseWater - бесплатно на 14 дней</h3>
                    <button class="stocks__button button button--yellow">Попробовать бесплатно</button>
                </div>
                <img class="stocks__banner-bg" src="../../images/pages/stocks/banner-bg.png" alt="Баннер">
            </div>
        </div>
        <div class="stocks__content-text">
            | Если вы всё еще сомневаетесь в том, стоит ли арендовать проточный кулер
            | WiseWater, протестируйте аппарат самостоятельно
            | и абсолютно бесплатно. Выбирайте любую модель прямо сейчас, и мы оперативно доставим её в ваш офис или
            | квартиру, чтобы
            | вы смогли убедиться в том, как удобно и выгодно пользоваться таким современным и экономичным устройством.
        </div>
        <div class="stocks__content-benefits">
            <ul class="stocks__content-list dot-list">
                <li>Высокое качество водоочистки</li>
                <li>Отсутствие переплат за тару и доставку</li>
                <li>Безлимитное количество питьевой воды</li>
            </ul>
            <ul class="stocks__content-list dot-list">
                <li>Востребованные режимы - нагрев, охлаждение, газация</li>
                <li>Ультрафиолетовое обеззараживание</li>
                <li>Экономия до 60% средств</li>
            </ul>
        </div>

        <hr>

        include ../../components/mobile-banner/mobile-banner

        <div class="stocks__content-text">
            | Если вы всё еще сомневаетесь в том, стоит ли арендовать проточный кулер
            | WiseWater, протестируйте аппарат самостоятельно
            | и абсолютно бесплатно. Выбирайте любую модель прямо сейчас, и мы оперативно доставим её в ваш офис или
            | квартиру, чтобы
            | вы смогли убедиться в том, как удобно и выгодно пользоваться таким современным и экономичным устройством.
        </div>
        <div class="stocks__content-benefits">
            <ul class="stocks__content-list dot-list">
                <li>Высокое качество водоочистки</li>
                <li>Отсутствие переплат за тару и доставку</li>
                <li>Безлимитное количество питьевой воды</li>
            </ul>
            <ul class="stocks__content-list dot-list">
                <li>Востребованные режимы - нагрев, охлаждение, газация</li>
                <li>Ультрафиолетовое обеззараживание</li>
                <li>Экономия до 60% средств</li>
            </ul>
        </div>

    </div>
</section>