<section class="catalog">
    <div class="catalog__container container">
        include ../../components/breadcrumbs/breadcrumbs
        <h1 class="title">Каталог</h1>

        <div class="catalog__top">
            <div class="catalog__top-wrapper">
                <div class="catalog__top-right">
                    <div class="directory__links swiper">
                        <div class="directory__links-list swiper-wrapper">
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round --active">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/vse-kulery.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Все кулеры</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/dlya-gostinic.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Для гостиниц</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/ofis.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Офис и клиентские зоны</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/gos.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Для госучреждений</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/sport.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Для спорта</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/dlya-doma.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Для дома</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/katridzhi.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Картриджи и аксессуары</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="directory__links-item swiper-slide">
                                <div class="link-round">
                                    <a class="link-round__link" href="#" target="_self">
                                        <div class="link-round__icon round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/catalog/link-round/pf.png" alt="Иконка" />
                                            </div>
                                        </div>
                                        <div class="link-round__info">
                                            <div class="link-round__name">
                                                <span class="link link--blue">Питьевые фонтанчики</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="directory__links-slider__prev swiper-button-prev">
                            <div class="swiper-button-arrow">
                                <svg class="swiper-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 289 492" style="enable-background:new 0 0 289 492;" xml:space="preserve">
                                    <path d="M281.2,226.8L62.3,7.9C57.2,2.8,50.4,0,43.2,0s-14,2.8-19,7.9L8.1,24C-2.4,34.5-2.4,51.6,8.1,62l183.9,183.9L7.9,430 C2.8,435,0,441.8,0,449c0,7.2,2.8,14,7.9,19L24,484.1c5.1,5.1,11.8,7.9,19,7.9s14-2.8,19-7.9L281.2,265c5.1-5.1,7.9-11.9,7.8-19.1 C289.1,238.7,286.3,231.9,281.2,226.8z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="directory__links-slider__next swiper-button-next">
                            <div class="swiper-button-arrow">
                                <svg class="swiper-button-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 289 492" style="enable-background:new 0 0 289 492;" xml:space="preserve">
                                    <path d="M281.2,226.8L62.3,7.9C57.2,2.8,50.4,0,43.2,0s-14,2.8-19,7.9L8.1,24C-2.4,34.5-2.4,51.6,8.1,62l183.9,183.9L7.9,430 C2.8,435,0,441.8,0,449c0,7.2,2.8,14,7.9,19L24,484.1c5.1,5.1,11.8,7.9,19,7.9s14-2.8,19-7.9L281.2,265c5.1-5.1,7.9-11.9,7.8-19.1 C289.1,238.7,286.3,231.9,281.2,226.8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog__top-left">
                    <img class="catalog__top-bg" src="../../images/pages/catalog/top-bg.png" alt="Фотография девушки">
                </div>
            </div>
        </div>
        <div class="catalog__products">
            <div class="catalog__products-wrapper">
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show"> 
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
                <div class="catalog__product --show">
                    +productCard()
                </div>
            </div>
        </div>
        <div class="catalog__bottom">
            <div class="catalog__bottom-wrapper">
                <div class="catalog__bottom-left">
                    <h2 class="catalog__bottom-title title">Кулеры для воды</h2>
                    <p>WiseWater – уникальная торговая марка бытового и коммерческого оборудования водоочистки, сочетающего высокое качество и
                        | доступную стоимость. Благодаря стараниям наших инженеров с обширными знаниями особенностей воды в различных регионах
                        | России в 2016 году было запущено производство первой линейки автоматов питьевой воды WiseWater, которая сегодня уверенно
                        | набирает популярность и завоевывает признание пользователей по всей стране.</p>
                    <p>Разработка бренда WiseWater была направлена на достижение следующих целей:</p>
                    <ul class="catalog__bottom-list dot-list">
                        <li>
                            | создание качественных и доступных автоматов для очистки водопроводной воды с учётом состава её загрязнений в различных областях России
                        </li>
                        <li>
                            | максимальная эффективность фильтрации водопроводной воды для получения чистого и безопасного продукта, соответствующего критериям бутилированной воды высшей категории
                        </li>
                        <li>
                            | оптимизация потребительских затрат на питьевую воду и экономия средств дома, в офисе, на производственных предприятиях и в общественных учреждениях с помощью удобных и надежных систем индивидуальной водоподготовки
                        </li>
                    </ul>
                    <p>Автоматы питьевой воды WiseWater - лучший выбор современных людей, которые заботятся о своем здоровье и финансовом благополучии!</p>
                </div>
                <div class="catalog__bottom-right">
                    <img src="../../images/pages/catalog/bottom-bg.png" alt="Картинка с пурифайером">
                </div>
            </div>
        </div>

    </div>
</section>
