.link-round {
    &.--active {
        pointer-events: none;
        & .round {
            background: var(--gradient-main);
        }
    }
    &--special {
        & .link-round__name {
            font-size: 18px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        flex-direction: column;
        &:hover {
            & .link {
                background-size: 100% 1px;
            }
            & .round__image {
                transform: scale3d(1.15, 1.15, 1.15);
            }
        }
    }
    &__info {
        text-align: center;
    }
    &__text,
    &__metro {
        font-size: 14px;
    }
    &__name {
        & span {
            text-align: center;
            @media (max-width: var(--media-notebook)) {
                font-size: 14px;
            }
        }
    }
    &__name + &__text {
        margin-top: 12px;
    }
    &__metro {
        position: relative;
        padding-left: 17px;
        &-mark {
            display: block;
            position: absolute;
            top: 7px;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: var(--bg-button-default);
            &.--red {
                background-color: #ef3b3b;
            }
            &.--blue {
                background-color: #019ee0;
            }
            &.--orange {
                background-color: #ff8515;
            }
            &.--darkBlue {
                background-color: #2e7dcd;
            }
            &.--green {
                background-color: #599d24;
            }
        }
    }
}
