<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wwkulery | Главная страница</title>
  <link rel="stylesheet" href="/src/base/styles.scss">
  <link rel="stylesheet" href="./index.scss">

  include ../../components/mixins
</head>
<body>
  <div class="wrapper">
    include ../../components/header/header

    <main class="main">
      //- ! Главная страница
        include ../../sections/header-slider/header-slider
        include ../../sections/productSlider/productSlider
        include ../../sections/app/app
        include ../../sections/benefits/benefits
        include ../../sections/about-puri/about-puri
        include ../../sections/consult/consult
        include ../../sections/city-puri/city-puri
        include ../../sections/news/news

      //- ! Статьи / Новости общая
      //- include ../../pages/articles-main/articles-main

      //- ! Страница товара
        include ../../pages/product/product

      //- ! Каталог
        include ../../pages/catalog/catalog
        include ../../sections/city-puri/city-puri

      //- ! Внутреняя страница "Акции"
        include ../../pages/stocks/stocks

      //- ! Подбор кулера
      //- include ../../pages/podbor/podbor

      //- ! Внутреняя страница "Контакты"
        include ../../pages/contacts/contacts
    </main>

    //- ! Статьи / Новости Внутреняя
      include ../../pages/articles-item/articles-item

    //- ! Вакансии (Шаблон от Новости Внутреняя / без aside)
    //- include ../../pages/vacancy/vacancy

    //- ! Доставка (Шаблон от Новости Внутреняя / без aside)
    //- include ../../pages/delivery/delivery

    //- ! Сервисный центр кулеров для воды в офис
    include ../../pages/service-center/service-center

    include ../../components/footer/footer
  </div>
  <script src="../../js/base.js"></script>
  <script src="../../js/swiper.js"></script>
  <script src="../../js/nouislider.js"></script>
  <script type="module" src="../../js/form-sliders.js"></script>
  <script src="../../js/checkbox-boolean.js"></script>
  <script src="./index.js"></script>

</body>
</html>
