<!DOCTYPE html>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wwkulery | Главная страница</title>
  <link rel="stylesheet" href="/src/base/styles.scss">
  <link rel="stylesheet" href="./index.scss">

  include ../../components/mixins
</head>
<body>
  <div class="wrapper">
    include ../../components/header/header

    <main class="main">
      //- ! Главная страница
      //-   include ../../sections/header-slider/header-slider
      //-   include ../../sections/productSlider/productSlider
      //-   include ../../sections/app/app
      //-   include ../../sections/benefits/benefits
      //-   include ../../sections/about-puri/about-puri
      //-   include ../../sections/consult/consult
      //-   include ../../sections/city-puri/city-puri
      //-   include ../../sections/news/news

      //- ! Статьи / Новости общая
      //-   include ../../pages/articles-main/articles-main

      //- ! Статьи / Новости Внутреняя
      //-   include ../../pages/articles-item/articles-item

      //- ! Страница товара
      //-   include ../../pages/product/product

      //- ! Каталог
      include ../../pages/catalog/catalog

      //- ! Каталог
      //-   include ../../pages/catalog/catalog

      //- ! Внутреняя страница "Акции"
      //-   include ../../pages/stocks/stocks

      //- ! Подбор кулера - в работе
      //-   include ../../pages/podbor/podbor

      //- ! Внутреняя страница "Контакты"
      //-   include ../../pages/contacts/contacts
    </main>

    include ../../components/footer/footer
  </div>
  <script src="../../js/base.js"></script>
  <script src="../../js/swiper.js"></script>
  <script src="./index.js"></script>
</body>
</html>
