.directory__links {
    &-list {
    }
    &-item {
        width: calc(100% / 8);
        padding-left: 10px;
        &:last-child {
            padding-left: 0px;
        }
        @media (max-width: $notebook) {
            width: 100%;
            padding: 0px;
        }
    }
    &-slider {
        &__prev,
        &__next {
            display: none;
            @media (max-width: $notebook) {
                display: block;
                top: 30%;
            }
        }
        &__next {
            transform: translate(-115%, 50%);
        }
        &__prev {
            transform: translate(105%, 50%) rotate(180deg);
        }
    }
}
