<section class="article section">
    <div class="container">
        include ../../components/breadcrumbs/breadcrumbs
    </div>
    <div class="inner container">
        <main class="article__main">
            <h1 class="article__title title title--section">
                | Вакансии
            </h1>
            <div class="article__info text text--big">

                <img class="vacancy__img" src="../../images/pages/vacancy/hh-img.png" alt="Картинка">
                <p>Каждый день, более 500 сотрудников Экодара приходят на работу. Именно они двигают нашу компанию вперёд, люди, связавшие свою жизнь и карьеру с интересной работой, развитием и достижением целей.</p>
                <p>Компания Экодар - это сложившийся коллектив, в котором знания и опыт профессионалов, проработавших много лет в секторе очистки воды и автоматов питьевой воды, сочетаются с энергией и здоровыми амбициями молодёжи, что даёт сплав новаторских творческих идей и гарантирует стабильность принятия правильных решений. Корпоративная культура и кадровая политика компании направлена на то, чтобы подчеркнуть, что сотрудник компании – это часть большой, сплоченной и профессиональной команды, способной решать самые сложные задачи.</p>
                <p>Экодар – компания №1 в своей отрасли, приглашает Вас на работу!</p>
                <p>Если Вы хотите направить Ваши силы и энергию на достижение значимых для Вас и компании результатов, если для Вас важно быть частью высокоэффективной команды, если Вы согласны с утверждением, что «работа должна приносить не только удовольствие, но и хорошие деньги», присылайте нам Ваше резюме!</p>

                <div class="vacancy__lists">
                    <div>
                        <h2>Условия работы:</h2>
                        <ul>
                            <li>Мы оформляем наших сотрудников согласно ТК РФ с первого дня работы.</li>
                            <li>График работы с 8:00 до 17:00, 9:00 до 18:00 или с 10:00 до 19:00. В нашей компании не приняты переработки, так как мы считаем, что работать нужно плодотворно и эффективно в рамках рабочего дня.</li>
                            <li>Оплачиваемые отпуска и больничные листы.</li>
                            <li>Современные офисные и производственные пространства.</li>
                        </ul>
                        <h2>Хотите работать у нас?</h2>
                        <ul>
                            <li>Ознакомьтесь с текущими вакансиями</li>
                            <li>Отправьте резюме на <a href="mailto:hr@ekodar.ru" class="link link--blue">hr@ekodar.ru</a> с указанием названия вакансии</li>
                            <li>Позвоните по телефону <a href="tel:+74952325262" class="link link--blue">+7 (495) 232-52-62</a>, возможно именно Вас не хватает в нашей команде</li>
                        </ul>
                    </div>
                    <div>
                        <h2>Преимущества работы у нас:</h2>
                        <ul>
                            <li>Безупречная репутация компании с 1993 года.</li>
                            <li>Очистка воды - стабильная и технологичная отрасль.</li>
                            <li>Бесплатное корпоративное обучение.</li>
                            <li>Дружный коллектив и доверительные отношения между руководителями и подчиненными.</li>
                            <li>Офис в 1 минуте от метро Румянцево.</li>
                            <li>Корпоративные скидки на продукцию.</li>
                            <li>Возможность карьерного и профессионального роста.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </main>
    </div>
</section>