.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  color: var(--link-color-white);
  background: var(--gradient-main);
  transition: var(--transition-mid);
  z-index: 100;
  &.--hide {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  &.--scroll {
    background-image: none;
    background-color: var(--white);
    box-shadow: var(--shadow-card);
    & .logo__icon {
      fill: var(--blue);
    }
    & .text,
    & .phone,
    & .header__nav-link {
      color: var(--text-color-main);
    }
    & .header__address-time {
      color: var(--text-color-gray-light);
    }
    & .header__icon {
      border-color: var(--border-gray);
    }
    & .dropdown__trigger:after {
      border-top-color: var(--text-color-main);
    }
    & .header__icon-link-image {
      color: var(--blue);
    }
    & .header__cart {
      & .button {
        color: var(--blue);
        background-color: var(--bg-button-default);
      }
    }
    & .button--catalog {
      color: var(--text-color-main);
      border-color: var(--border-gray);
      background-color: var(--transparent);
    }
    & .button__icon--burger span {
      background-color: var(--text-color-main);
    }
  }
  &__top {
    display: flex;
    align-items: center;
  }
  &__logo {
    width: 218px;
    min-width: 218px;
    margin-right: 40px;
  }
  &__links {
    display: flex;
    align-items: center;
    width: calc(100% - 218px);
  }
  &__address {
    display: flex;
    &-tel {
      margin-right: 35px;
    }
    &-time {
      transition: var(--transition);
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }
  &__icon {
    transition: var(--transition);
    &:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, .3);
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding: 0 20px;
      &-image {
        &--search {
          width: 19px;
        }
        &--placeholder {
          width: 16px;
        }
        &--email {
          width: 23px;
        }
        &--vision {
          width: 24px;
        }
      }
    }
  }
  &__bottom {
    margin-top: 30px;
  }
  &__nav {
    display: flex;
    align-items: center;
    &-links {
      margin: 0 auto;
    }
    &-list {
      display: flex;
      align-items: center;
    }
    &-item {
      padding: 0 18px;
      &:hover {
        & .header__nav-link {
          & .link {
            background-size: 100% 1px;
          }
        }
      }
    }
  }
}