<header class="header">
  <div class="container">
    <div class="header__top">
      <div class="header__logo">
        include ../logo/logo
      </div>
      <div class="header__links">
        <address class="header__address">
          <div class="header__address-tel">
            <a class="phone phone--icon" href="tel:+74951202514">
              <svg class="phone__icon" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536" xml:space="preserve">
                <path fill="currentColor" d="M414.41,24.123C398.333,8.042,378.963,0,356.315,0H82.228C59.58,0,40.21,8.042,24.126,24.123 C8.045,40.207,0.003,59.576,0.003,82.225v274.084c0,22.647,8.042,42.018,24.123,58.102c16.084,16.084,35.454,24.126,58.102,24.126 h274.084c22.648,0,42.018-8.042,58.095-24.126c16.084-16.084,24.126-35.454,24.126-58.102V82.225 C438.532,59.576,430.49,40.204,414.41,24.123z M359.159,332.874c-3.997,8.754-12.99,16.371-26.977,22.846 c-13.99,6.475-26.413,9.712-37.265,9.712c-3.046,0-6.283-0.235-9.708-0.711c-3.426-0.479-6.324-0.952-8.703-1.428 c-2.378-0.476-5.523-1.331-9.421-2.57c-3.905-1.234-6.715-2.189-8.422-2.854c-1.718-0.664-4.856-1.854-9.421-3.566 c-4.569-1.718-7.427-2.765-8.562-3.138c-31.215-11.427-61.721-32.028-91.507-61.814c-29.786-29.793-50.391-60.292-61.812-91.502 c-0.378-1.143-1.425-3.999-3.14-8.565c-1.712-4.565-2.905-7.708-3.571-9.419c-0.662-1.713-1.615-4.521-2.853-8.42 c-1.237-3.903-2.091-7.041-2.568-9.423c-0.478-2.376-0.95-5.277-1.427-8.704c-0.476-3.427-0.713-6.667-0.713-9.71 c0-10.85,3.237-23.269,9.71-37.259c6.472-13.988,14.084-22.981,22.841-26.979c10.088-4.189,19.7-6.283,28.837-6.283 c2.091,0,3.616,0.192,4.565,0.572c0.953,0.385,2.524,2.094,4.714,5.14c2.19,3.046,4.568,6.899,7.137,11.563 c2.57,4.665,5.092,9.186,7.566,13.562c2.474,4.377,4.854,8.705,7.139,12.991c2.284,4.279,3.711,6.995,4.281,8.133 c0.571,0.957,1.809,2.762,3.711,5.429c1.902,2.663,3.333,5.039,4.283,7.135c0.95,2.094,1.427,4.093,1.427,5.996 c0,2.859-1.953,6.331-5.854,10.42c-3.903,4.093-8.186,7.854-12.85,11.281s-8.945,7.092-12.847,10.994 c-3.899,3.899-5.852,7.087-5.852,9.562c0,1.333,0.333,2.902,1,4.71c0.666,1.812,1.285,3.287,1.856,4.427 c0.571,1.141,1.477,2.76,2.712,4.856c1.237,2.096,2.048,3.427,2.426,3.999c10.467,18.843,22.508,35.07,36.114,48.681 c13.612,13.613,29.836,25.648,48.682,36.117c0.567,0.384,1.902,1.191,4.004,2.43c2.091,1.232,3.713,2.136,4.853,2.707 c1.143,0.571,2.614,1.191,4.425,1.852c1.811,0.664,3.381,0.999,4.719,0.999c3.036,0,7.225-3.138,12.56-9.418 c5.328-6.286,10.756-12.518,16.276-18.705c5.516-6.181,9.985-9.274,13.418-9.274c1.902,0,3.897,0.473,5.999,1.424 c2.095,0.951,4.469,2.382,7.132,4.284c2.669,1.91,4.476,3.142,5.428,3.721l15.125,8.271c10.089,5.332,18.511,10.041,25.27,14.134 s10.424,6.899,10.996,8.419c0.379,0.951,0.564,2.478,0.564,4.572C365.449,313.199,363.354,322.812,359.159,332.874z"/>
              </svg>            
              <span class="phone__text link">
                | +7 495 120 25 14
              </span>
            </a>
          </div>
          <p class="header__address-time text text--small">
            | Пн-Пт: с 8:00 до 19:00 МСК
          </p>
        </address>
        <ul class="header__icons">
          <li class="header__icon">
            <a href="#0" class="header__icon-link">
              <svg class="header__icon-link-image header__icon-link-image--search" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56.966 56.966" xml:space="preserve">
                <path fill="currentColor" d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23 s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92 c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17 s-17-7.626-17-17S14.61,6,23.984,6z"/>
              </svg>              
            </a>
          </li>
          <li class="header__icon">
            <a href="#0" class="header__icon-link">
              <svg class="header__icon-link-image header__icon-link-image--placeholder" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 413.6 512" xml:space="preserve">
                <path fill="currentColor" d="M206.8,0C92.8,0,0,92.8,0,206.8c0,139.7,120.5,236.1,192.5,293.7l14.4,11.5l14.4-11.5c72-57.6,192.5-154,192.5-293.7 C413.6,92.8,320.9,0,206.8,0z M206.8,453C123.4,385.1,46,309.5,46,206.8C46,118.1,118.1,46,206.8,46s160.9,72.2,160.9,160.9 C367.7,309.5,290.2,385.1,206.8,453z"/>
                <path fill="currentColor" d="M206.8,160.9c-25.3,0-46,20.6-46,46s20.6,46,46,46c25.3,0,46-20.6,46-46S232.2,160.9,206.8,160.9z"/>
              </svg>              
            </a>
          </li>
          <li class="header__icon">
            <a href="#0" class="header__icon-link">
              <svg class="header__icon-link-image header__icon-link-image--email" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 477.867 477.867" xml:space="preserve">
                <path fill="currentColor" d="M460.8,68.267H17.067C7.641,68.267,0,75.908,0,85.333v307.2c0,9.426,7.641,17.067,17.067,17.067H460.8 c9.426,0,17.067-7.641,17.067-17.067v-307.2C477.867,75.908,470.226,68.267,460.8,68.267z M432.811,102.4L238.933,251.529 L45.056,102.4H432.811z M443.733,375.467h-409.6V137.062L228.54,286.6c6.13,4.707,14.657,4.707,20.787,0l194.406-149.538V375.467z "/>
              </svg>
            </a>
          </li>
          <li class="header__icon">
            <a href="#0" class="header__icon-link">
              <svg class="header__icon-link-image header__icon-link-image--vision" preserveAspectRatio="none" fill="none" viewBox="1 -75 511.9995 511" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" d="m510.066406 171.917969c-42.816406-90.140625-140.175781-171.417969-254.066406-171.417969-128.148438 0-220.261719 100.246094-254.066406 171.417969-2.578125 5.429687-2.578125 11.734375 0 17.164062 42.816406 90.140625 140.175781 171.417969 254.066406 171.417969 128.148438 0 220.261719-100.25 254.066406-171.417969 2.578125-5.429687 2.578125-11.734375 0-17.164062zm-254.066406 148.582031c-92.140625 0-168.535156-60.722656-213.347656-140 44.625-78.953125 120.972656-140 213.347656-140 92.132812 0 168.535156 60.714844 213.347656 140-44.625 78.949219-120.972656 140-213.347656 140zm0-240c-55.140625 0-100 44.859375-100 100s44.859375 100 100 100 100-44.859375 100-100-44.859375-100-100-100zm0 160c-33.082031 0-60-26.917969-60-60 0-33.085938 26.917969-60 60-60 33.085938 0 60 26.914062 60 60 0 33.082031-26.914062 60-60 60zm0 0"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="header__cart">
        <button class="button button--icon button--aqua">
          <svg class="button__icon button__icon--cart" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 511.997 511.997" xml:space="preserve">
            <path fill="currentColor" d="M405.387,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S440.588,362.612,405.387,362.612z M405.387,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 c14.083,0,25.536,11.453,25.536,25.536S419.47,451.988,405.387,451.988z"/>
            <path fill="currentColor" d="M507.927,115.875c-3.626-4.641-9.187-7.348-15.079-7.348H118.22l-17.237-72.12c-2.062-8.618-9.768-14.702-18.629-14.702 H19.152C8.574,21.704,0,30.278,0,40.856s8.574,19.152,19.152,19.152h48.085l62.244,260.443 c2.062,8.625,9.768,14.702,18.629,14.702h298.135c8.804,0,16.477-6.001,18.59-14.543l46.604-188.329 C512.849,126.562,511.553,120.516,507.927,115.875z M431.261,296.85H163.227l-35.853-150.019h341.003L431.261,296.85z"/>
            <path fill="currentColor" d="M173.646,362.612c-35.202,0-63.84,28.639-63.84,63.84s28.639,63.84,63.84,63.84s63.84-28.639,63.84-63.84 S208.847,362.612,173.646,362.612z M173.646,451.988c-14.083,0-25.536-11.453-25.536-25.536s11.453-25.536,25.536-25.536 s25.536,11.453,25.536,25.536S187.729,451.988,173.646,451.988z"/>
          </svg>          
          | Корзина пуста
        </button>
      </div>
    </div>
    <div class="header__bottom">
      <div class="header__nav">
        <button class="button button--catalog button--blue button--icon">
          <div class="button__icon button__icon--burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          | Каталог
        </button>
        <nav class="header__nav-list">
          <div class="header__nav-item">
            <a href="#0" class="header__nav-link">
              <span class="link">Подобрать кулер</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Аренда</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">В квартиру</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Акции</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Технологии очистки</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Сервис</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Стать дилером</span>
            </a>
            <a href="#0" class="header__nav-link">
              <span class="link">Контакты</span>
            </a>
            <a href="#0" class="header__nav-link header__nav-link--deep">
              <span class="link">Ещё</span>
              <svg class="header__nav-link-arrow" preserveAspectRatio="none" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 492.004 492.004" xml:space="preserve">
                <path fill="currentColor" d="M382.678,226.804L163.73,7.86C158.666,2.792,151.906,0,144.698,0s-13.968,2.792-19.032,7.86l-16.124,16.12 c-10.492,10.504-10.492,27.576,0,38.064L293.398,245.9l-184.06,184.06c-5.064,5.068-7.86,11.824-7.86,19.028 c0,7.212,2.796,13.968,7.86,19.04l16.124,16.116c5.068,5.068,11.824,7.86,19.032,7.86s13.968-2.792,19.032-7.86L382.678,265 c5.076-5.084,7.864-11.872,7.848-19.088C390.542,238.668,387.754,231.884,382.678,226.804z"/>
              </svg>            
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>