<div class="inner">
    <div class="inner__breadcrumbs container">
        include ../../components/breadcrumbs/breadcrumbs
    </div>

    <div class="inner__header container">
        <h1>Экодар открывает новый склад класса "А" в Москве</h1>
    </div>   

    <div class="inner__container container">
        <main class="inner__main">

        <div class="inner__preview">
            <img class="inner__preview-img" src="../../images/pages/news/man.jpg" title="Картинка статьи" alt="Картинка статьи">
            <div class="articles__item-date">
                <span>11 августа 2021</span>
            </div>
        </div> 

        <div class="inner__wiki text">
            <p class="bold">Уважаемые Коллеги и Партнёры!</p>
            <p>Каждый год мы растём и для Вашего удобства открываем новый склад класса «А» в складском комплексе «Тарный», введённом в эксплуатацию в 2020 году.</p>
            <p>Одними из основных критериев выбора объекта стали удобное местоположение внутри города и высокое качество комплекса. Складской комплекс «Тарный» является уникальным объектом на рынке складской недвижимости. Ключевым преимуществом объекта является его расположение внутри МКАД, в непосредственной близости от Варшавского и Каширского шоссе, в 10 км от главной транспортной артерии Москвы - Третьего Транспортного кольца. Комплекс оснащен передовыми инженерными системами, отвечает высоким стандартам качества не только российских, но и зарубежных компаний.</p>
            <p>Новые складские помещения обеспечат компанию необходимыми площадями для дальнейшего развития. Удобная логистика и высокое качество нового склада позволят Партнёрам компании существенно сократить время ожидания, погрузки и оформления документации.</p>
            <p>Комплекс удобно расположен внутри Москвы, что позволяет нашим сотрудникам и клиентам добираться на общественном транспорте, но, в то же время, комплекс оборудован достаточным количеством парковочных мест, что является большой редкостью для городских складов. Для Вашего удобства комплекс оснащён удобной клиентской зоной.</p>
            <p><br></p>
            <p class="bold">Адрес</p>
            <p>Москва, ул. Промышленная 12А, подъезд «Экодар», 2-й этаж</p>
            <p>Время работы:</p>
            <p>пн – пт: 09:00 – 18:00</p>
            <p>сб: 09:00 – 16:00</p>
            <p>вс: выходной.</p>
            <p><br></p>
            <div class="flex">
                <img style="margin-right: 30px;" src="../../images/pages/news/map-ekodar.png" title="Картинка статьи" alt="Картинка статьи">
                <img src="../../images/pages/news/sklad.png" title="Картинка статьи" alt="Картинка статьи">
            </div>
        </div>

        </main>

        <aside class="inner__aside">
            <div class="inner__aside-block">
                <div class="articles__aside">
                    <h3>Последние новости</h3>
                    <ul class="articles__aside-list">
                        <li class="articles__item --aside" data-key="1">
                            <a class="articles__item-link" href="#">
                                <div class="articles__item-top">
                                    <div class="articles__item-icon">
                                        <div class="link-round">
                                            <a class="link-round__link" href="#" target="_self">
                                                <div class="link-round__icon default-border round">
                                                    <div class="round__picture">
                                                        <img class="round__image" src="../../images/pages/news/3.png" alt="Иконка" />
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="articles__item-title" data-text-overflow="4">Экодар открывает новый склад класса "А" в Москве</div>
                                </div>
                                <div class="articles__item-text" data-text-overflow="8">
                                    | Каждый год мы растём и для Вашего удобства открываем новый склад класса «А» в складском комплексе «Тарный»...
                                </div>
                                <div class="articles__item-date">
                                    <span>11 августа 2021</span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__item --aside" data-key="2">
                            <a class="articles__item-link" href="#">
                                <div class="articles__item-top">
                                    <div class="articles__item-icon">
                                        <div class="link-round">
                                            <a class="link-round__link" href="#" target="_self">
                                                <div class="link-round__icon default-border round">
                                                    <div class="round__picture">
                                                        <img class="round__image" src="../../images/pages/news/2.png" alt="Иконка" />
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="articles__item-title" data-text-overflow="4">WiseWater увеличивает производство</div>
                                </div>
                                <div class="articles__item-text" data-text-overflow="8">
                                    | В связи с высоким спросом на пурифайеры торговой марки WiseWater наша компания увеличивает производственные и
                                    | складские...
                                </div>
                                <div class="articles__item-date">
                                    <span>15 августа 2021</span>
                                </div>
                            </a>
                        </li>
                        <li class="articles__item --aside" data-key="3">
                            <a class="articles__item-link" href="#">
                                <div class="articles__item-top">
                                    <div class="articles__item-icon">
                                        <div class="link-round">
                                            <a class="link-round__link" href="#" target="_self">
                                                <div class="link-round__icon default-border round">
                                                    <div class="round__picture">
                                                        <img loading="lazy" class="round__image" src="../../images/pages/news/1.png" alt="Иконка" />
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="articles__item-title" data-text-overflow="4">СМИ предупреждают о подделке питьевой воды на российском рынке!</div>
                                </div>
                                <div class="articles__item-text" data-text-overflow="8">
                                    | На встрече с Президентом РФ Владимиром Путиным 22 июля 2019 года глава государственной корпорации «Ростех»...
                                </div>
                                <div class="articles__item-date">
                                    <span>20 августа 2021</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>
</div>