<div class="article section">
    <div class="container">
        include ../../components/breadcrumbs/breadcrumbs
    </div>
    <div class="inner container">
        <main class="inner__main article__main">
            <h1 class="article__title title title--section">
                | Экодар открывает новый склад класса "А" в Москве
            </h1>
            <div class="article__preview">
                <img class="article__preview-image" src="../../images/pages/news/man.jpg" alt="Картинка статьи">
            </div>
            <div class="article__date">
                <span class="date">11 августа 2021</span>
            </div>
            <div class="article__info text text--big">
                <p class="bold">
                    | Уважаемые Коллеги и Партнёры!
                </p>
                <p>
                    | Каждый год мы растём и для Вашего удобства открываем новый 
                    | склад класса «А» в складском комплексе «Тарный», введённом 
                    | в эксплуатацию в 2020 году.
                </p>
                <p>
                    | Одними из основных критериев выбора объекта стали удобное 
                    | местоположение внутри города и высокое качество комплекса. 
                    | Складской комплекс «Тарный» является уникальным объектом на 
                    | рынке складской недвижимости. Ключевым преимуществом объекта 
                    | является его расположение внутри МКАД, в непосредственной близости 
                    | от Варшавского и Каширского шоссе, в 10 км от главной транспортной 
                    | артерии Москвы - Третьего Транспортного кольца. Комплекс оснащен 
                    | передовыми инженерными системами, отвечает высоким стандартам качества 
                    | не только российских, но и зарубежных компаний.
                </p>
                <p>
                    | Новые складские помещения обеспечат компанию необходимыми площадями 
                    | для дальнейшего развития. Удобная логистика и высокое качество нового 
                    | склада позволят Партнёрам компании существенно сократить время ожидания, 
                    | погрузки и оформления документации.
                </p>
                <p>
                    | Комплекс удобно расположен внутри Москвы, что позволяет нашим сотрудникам 
                    | и клиентам добираться на общественном транспорте, но, в то же время, комплекс 
                    | оборудован достаточным количеством парковочных мест, что является большой 
                    | редкостью для городских складов. Для Вашего удобства комплекс оснащён 
                    | удобной клиентской зоной.
                </p>
            </div>
            <div class="article__info text text--big">
                <p class="bold">Адрес</p>
                <p>Москва, ул. Промышленная 12А, подъезд «Экодар», 2-й этаж</p>
                <p>Время работы:</p>
                <p>пн – пт: 09:00 – 18:00</p>
                <p>сб: 09:00 – 16:00</p>
                <p>вс: выходной.</p>
            </div>
            <div class="article__info">
                <div class="article__images">
                    <img class="article__image" src="../../images/pages/news/map-ekodar.png" alt="Схема проезда">
                    <img class="article__image" src="../../images/pages/news/sklad.png" alt="Фото склада">
                </div>
            </div>
        </main>

        <aside class="inner__aside article__aside">
            <h3 class="inner__aside-title title title--section">Последние новости</h3>
            <div class="inner__aside-block">
                <ul class="article__aside-list">
                    <li class="article__aside-item article-item" data-key="1">
                        <a class="article-item__link" href="#">
                            <div class="article-item__top">
                                <div class="article-item__icon">
                                    <div class="link-round">
                                        <div class="link-round__icon default-border round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/news/1.png" alt="Иконка" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-item__title text bold">
                                    <span class="link">
                                        | Экодар открывает новый склад класса "А" в Москве
                                    </span>
                                </div>
                            </div>
                            <div class="article-item__text text text--small">
                                | Каждый год мы растём и для Вашего удобства открываем новый склад 
                                | класса «А» в складском комплексе «Тарный», введённом в эксплуатацию...
                            </div>
                            <div class="article-item__date">
                                <span class="date">11 августа 2021</span>
                            </div>
                        </a>
                    </li>
                    <li class="article__aside-item article-item" data-key="2">
                        <a class="article-item__link" href="#">
                            <div class="article-item__top">
                                <div class="article-item__icon">
                                    <div class="link-round">
                                        <div class="link-round__icon default-border round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/news/2.png" alt="Иконка" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-item__title text bold">
                                    <span class="link">
                                        | WiseWater увеличивает производство
                                    </span>
                                </div>
                            </div>
                            <div class="article-item__text text text--small">
                                | В связи с высоким спросом на пурифайеры торговой марки WiseWater наша компания увеличивает производственные 
                                | и&nbsp;складские...
                            </div>
                            <div class="article-item__date">
                                <span class="date">15 августа 2021</span>
                            </div>
                        </a>
                    </li>
                    <li class="article__aside-item article-item" data-key="3">
                        <a class="article-item__link" href="#">
                            <div class="article-item__top">
                                <div class="article-item__icon">
                                    <div class="link-round">
                                        <div class="link-round__icon default-border round">
                                            <div class="round__picture">
                                                <img class="round__image" src="../../images/pages/news/3.png" alt="Иконка" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="article-item__title text bold">
                                    <span class="link">
                                        | СМИ предупреждают о подделке питьевой воды на российском рынке!
                                    </span>
                                </div>
                            </div>
                            <div class="article-item__text text text--small">
                                | На встрече с Президентом РФ Владимиром Путиным 22 июля 2019 года глава государственной корпорации «Ростех» 
                                | Сергей Чемезов заявил о том, что в России 25—30% питьевой воды...
                            </div>
                            <div class="article-item__date">
                                <span class="date">20 августа 2021</span>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="articles__more">
                    <button class="button button--mid">
                        | Смотреть ещё
                    </button>
                </div>
            </div>
        </aside>
    </div>
</div>