.articles {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -65px;
    }
    &__item {
        width: calc(100% / 3 - (60px * 2) / 3);
        margin-top: 75px;
    }
    &__more {
        margin: 75px 0 90px;
        text-align: center;
    }
}
