<section class="section articles">
    <div class="articles__container container">
        include ../../components/breadcrumbs/breadcrumbs
        <h1 class="title">Новости</h1>
        <ul class="articles__list">
            <li class="articles__item article-item" data-key="1">
                <a class="article-item__link" href="#">
                    <div class="article-item__top">
                        <div class="article-item__icon">
                            <div class="link-round">
                                <div class="link-round__icon default-border round">
                                    <div class="round__picture">
                                        <img class="round__image" src="../../images/pages/news/1.png" alt="Иконка" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-item__title text bold">
                            <span class="link">
                                | Экодар открывает новый склад класса "А" в Москве
                            </span>
                        </div>
                    </div>
                    <div class="article-item__text text text--small">
                        | Каждый год мы растём и для Вашего удобства открываем новый склад 
                        | класса «А» в складском комплексе «Тарный», введённом в эксплуатацию...
                    </div>
                    <div class="article-item__date">
                        <span class="date">11 августа 2021</span>
                    </div>
                </a>
            </li>
            <li class="articles__item article-item" data-key="2">
                <a class="article-item__link" href="#">
                    <div class="article-item__top">
                        <div class="article-item__icon">
                            <div class="link-round">
                                <div class="link-round__icon default-border round">
                                    <div class="round__picture">
                                        <img class="round__image" src="../../images/pages/news/2.png" alt="Иконка" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-item__title text bold">
                            <span class="link">
                                | WiseWater увеличивает производство
                            </span>
                        </div>
                    </div>
                    <div class="article-item__text text text--small">
                        | В связи с высоким спросом на пурифайеры торговой марки WiseWater наша компания увеличивает производственные 
                        | и&nbsp;складские...
                    </div>
                    <div class="article-item__date">
                        <span class="date">15 августа 2021</span>
                    </div>
                </a>
            </li>
            <li class="articles__item article-item" data-key="3">
                <a class="article-item__link" href="#">
                    <div class="article-item__top">
                        <div class="article-item__icon">
                            <div class="link-round">
                                <div class="link-round__icon default-border round">
                                    <div class="round__picture">
                                        <img class="round__image" src="../../images/pages/news/3.png" alt="Иконка" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="article-item__title text bold">
                            <span class="link">
                                | СМИ предупреждают о подделке питьевой воды на российском рынке!
                            </span>
                        </div>
                    </div>
                    <div class="article-item__text text text--small">
                        | На встрече с Президентом РФ Владимиром Путиным 22 июля 2019 года глава государственной корпорации «Ростех» 
                        | Сергей Чемезов заявил о том, что в России 25—30% питьевой воды...
                    </div>
                    <div class="article-item__date">
                        <span class="date">20 августа 2021</span>
                    </div>
                </a>
            </li>
        </ul>
        <div class="articles__more">
            <button class="button button--mid">
                | Смотреть ещё
            </button>
        </div>
    </div>
</section>