<section class="news section section--gray section--inner">
  <div class="container">
    <div class="news__header section__header">
      <h3 class="section__title title title--section">Актуальные новости</h3>
      <a href="#0" class="button">Перейти в пресс-центр</a>
    </div>
    <ul class="news__list">
      <li class="news__item">
        <a href="#0" class="news__item-link">
          <div class="news__item-picture">
            <img src="../..//images/news-01.jpg" alt="Обложка" class="news__item-image">
          </div>
          <div class="news__item-content">
            <div class="news__item-date">
              <span class="date">20 августа 2021</span>
            </div>
            <div class="news__item-name">Экодар открывает новый склад класса «А» в Москве</div>
            <p class="news__item-description text text--small">
              | Каждый год мы растём и для Вашего удобства открываем новый склад класса «А» 
              | в складском комплексе «Тарный», введённом в эксплуатацию...
            </p>
          </div>
        </a>
      </li>
      <li class="news__item">
        <a href="#0" class="news__item-link">
          <div class="news__item-picture">
            <img src="../..//images/news-02.jpg" alt="Обложка" class="news__item-image">
          </div>
          <div class="news__item-content">
            <div class="news__item-date">
              <span class="date">22 августа 2021</span>
            </div>
            <div class="news__item-name">WiseWater увеличивает производство!</div>
            <p class="news__item-description text text--small">
              | В связи с высоким спросом на пурифайеры торговой марки WiseWater наша компания 
              | увеличивает производственные и складские...
            </p>
          </div>
        </a>
      </li>
      <li class="news__item">
        <a href="#0" class="news__item-link">
          <div class="news__item-picture">
            <img src="../..//images/news-03.jpg" alt="Обложка" class="news__item-image">
          </div>
          <div class="news__item-content">
            <div class="news__item-date">
              <span class="date">24 августа 2021</span>
            </div>
            <div class="news__item-name">СМИ предупреждают о подделке питьевой воды на российском рынке!</div>
            <p class="news__item-description text text--small">
              | В России 25—30% питьевой воды в бутылках - это фальсификат!
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>