.round {
    position: relative;
    width: 90px;
    min-width: 90px;
    height: 90px;
    margin-bottom: 10px;
    border-radius: 50%;
    overflow: hidden;
    transition: all $transition;
    &.default-border {
        border: 1px solid $border_grayDark;
    }
    &.--active {
        background: linear-gradient(90deg, rgb(10, 93, 179) 0%, rgb(33, 189, 198) 100%);
    }
    &__picture {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        &.--ems {
            @media (max-width: $tabletWide) {
                width: 50px;
                height: 50px;
            }
        }
    }
    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: white;
        padding: 3px;
        transition: all $transition;
        &:hover {
            transform: scale(1.2);
        }
    }
}
