<section class="article section">
    <div class="container">
        include ../../components/breadcrumbs/breadcrumbs
    </div>
    <div class="inner container">
        <main class="article__main">
            <h1 class="article__title title title--section">
                | Доставка кулеров для воды
            </h1>
            <div class="article__info text">

                <img class="delivery__img-left" src="../../images/pages/delivery/shutterstock_1237494658 (1).png" alt="Картинка">
                <p>Физические и юридические лица могут получить в распоряжение проточные кулеры WiseWater двумя способами.</p>
                <p class="bold">Аренда.</p>
                <p>Договор аренды проточного кулера заключается на срок не менее 1 года. Услуги оплачиваются ежемесячно в фиксированном размере наличными или безналичным способом. Первый взнос состоит из оплаты первого и последнего месяцев аренды. Помимо временного пользования оборудованием в стоимость входит доставка и монтаж, а также сервисное обслуживание, подразумевающее санитарно-профилактическую обработку аппарата, периодическую замену фильтров и ультрафиолетовой лампы. В случае возникновения неполадок сотрудники сервисного отдела приедут к вам для оперативного устранения проблем.</p>
                <p class="bold">Покупка.</p>
                <p>Условия приобретения пурифайера обсуждаются в процессе заключения договора.</p>

                <p><br></p>
                <h2 class="delivery__title">Доставка</h2>
                <p>Доставка арендованных и купленных проточных кулеров WiseWater осуществляется на условиях, представленных в таблице ниже.</p>
                <div class="table">
                    <table>
                        <thead>
                        <tr>
                            <th class="bold">Вид&nbsp;услуги</th>
                            <th class="bold">Стоимость&nbsp;доставки</th>
                            <th class="bold">Стоимость доставки с&nbsp;монтажом</th>
                            <th class="bold">Сроки доставки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Аренда</td>
                            <td>Бесплатно</td>
                            <td>Бесплатно</td>
                            <td>2-3 дня</td>
                        </tr>
                        <tr>
                            <td>Покупка</td>
                            <td>В пределах МКАД - 1050 руб.<br> За&nbsp;пределы&nbsp;МКАД и по&nbsp;Московской области - 1050+25&nbsp;руб./км.</td>
                            <td>5200&nbsp;руб.</td>
                            <td>1-2&nbsp;дня</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p>Адрес самовывоза со склада: Москва, улица Подольских Курсантов, дом 3, строение 6 (ближайшее метро - Пражская), с понедельника по пятницу с 11.00 до 17:00. <br> Сроки и стоимость доставки в другие города РФ можно узнать по телефону: <a class="link link--blue" href="tel:+74951202514">+7 (495) 120 25 14.</a></p>
                <p><br></p>

                <img class="delivery__img-right" src="../../images/pages/delivery/shutterstock_2064581651.png" alt="Картинка">
                <h2 class="delivery__title">Монтаж</h2>
                <p>Установка проточного кулера возможна в любое удобное для вас время. Вся процедура проходит без нарушения эстетики интерьера и занимает не более 30 минут. Для монтажа используются надежные комплектующие из безопасных материалов:</p>
                <ul>
                    <li>узел врезки с шаровым краном для перекрытия воды;</li>
                    <li>гибкий шланг диаметром 6 мм, соединяющий кулер с водопроводной трубой.</li>
                </ul>
                <p>Тонкая проводка легко убирается в короб, маскируется за плинтусом или подвесным потолком, таким образом, гармония офисного пространства остается безупречной. Все работы по установке аппарата застрахованы, поэтому вы можете не сомневаться в высоком качестве сервисных услуг, которые дополнительно контролируются собственным техническим отделом компании.</p>
            </div>
        </main>
    </div>
</section>